/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
*{
    font-size:18px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.devition{
    width:40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}

.devition img{
    width: 85%;
    margin-top: 100px;
}
.devition2{
    width:26%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 150px;
}
.devition2 img{
    width: 86%;
    
}
h1{
    font-size:50px
   
}
h2{
    font-size:40px
   
}
.color-hei{
    color:#EC4C7A
}
.btn-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC4C7A,#ec7f9e);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
header{
    background-image: url(/img/personal-website/header-bg.png);
    background-repeat: no-repeat;
    
    background-size: cover;
    /* background-position: left; */
}
.site-section{
    height: 600px;
}
.bio{
    background-image: url(/img/personal-website/biography-bg.png);
    background-repeat: no-repeat;
    
    background-size: cover;
}
p{
    color:gray;
}
.letest{
    background-image: url(/img/personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    
    background-size: cover;
}
.clean-div{
    clear: both;
}
.work-title{
    text-align: center;
    margin-top: 100px;
}
.foo{
    background-image: url(/img/personal-website/footer-bg.png);
    background-repeat: no-repeat;
    
    background-size: cover;
    text-align: center;
    
}
.foo p{
    margin: auto;
}
.box-f{
    width: 40%;
    background-image: linear-gradient(45deg, #EC4C7A,#ec7f9e);
    margin: auto;
    padding: 5%;
    border-radius: 5px;
}